[Unit]
Description=Run Reflector on first boot
Wants=network-online.target
After=network-online.target nss-lookup.target
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh -c 'systemctl start reflector.service'

[Install]
WantedBy=multi-user.target
